Django
wagtail
MySQL-python
Pillow
celery
#gnureadline
html5lib
ipython
pytz
requests
six
fabric

# apps customs
git+https://github.com/ninjaotoko/django-metrics.git
git+https://github.com/ninjaotoko/django-tagembed.git
git+https://github.com/Mars0n/django-menuresolver.git
