Django
MySQL-python
Pillow
celery
ipython
pytz
requests
six
fabric

# apps customs
git+https://github.com/ninjaotoko/djblog.git
git+https://github.com/ninjaotoko/dynaform.git
git+https://github.com/ninjaotoko/django-skeleton.git
git+https://github.com/ninjaotoko/django-mediacontent.git
git+https://github.com/ninjaotoko/django-metrics.git
git+https://github.com/ninjaotoko/django-tagembed.git
git+https://github.com/ninjaotoko/django-menuresolver.git
