Django
MySQL-python
Pillow
celery
ipython
pytz
requests
six
fabric

# apps customs
https://github.com/ninjaotoko/django-metrics.git
https://github.com/ninjaotoko/django-tagembed.git
https://github.com/Mars0n/django-menuresolver.git
