{% extends "theme_base.html" %}

{% block main %}
{% block main_header_nav %}
<div class="row">
    <div class="large-9 columns large-centered">
        <ul class="inline-list">
            <li><a href="#" class="button">Link 1</a></li>
            <li><a href="#" class="button">Link 2</a></li>
            <li><a href="#" class="button">Link 3</a></li>
            <li><a href="#" class="button">Link 4</a></li>
        </ul>
    </div>
</div>
{% endblock main_header_nav %}



{% block content %}
{% endblock %}
{% endblock %}
